In [1]:
import requests
import pandas as pd
import io

In [2]:
url_states = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
url_counties = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'

In [3]:
def get_df_from_github_url(url):
    r = requests.get(url)
    r.raise_for_status
    data = io.StringIO(str(r.content, 'utf-8'))
    date_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
    return pd.read_csv(data, parse_dates=['date'], date_parser=date_parser, dtype={'fips': str})

In [4]:
df_states = get_df_from_github_url(url_states)
df_counties = get_df_from_github_url(url_counties)

In [5]:
# df_states['date'] = pd.to_datetime(df_states['date'], format='%Y-%m-%d')
# df_counties['date'] = pd.to_datetime(df_counties['date'], format='%Y-%m-%d')
# get a time delta
# df_counties['date'].max() - df_counties['date'].min()

In [6]:
# df_counties.fillna(0, inplace=True)
# df_counties['fips'] = df_counties['fips'].astype(int)

In [7]:
# filt = (df_counties['state'] == 'Washington') & (df_counties['deaths'] > 100)
df_counties.loc[(df_counties['state'] == 'Washington') & (df_counties['deaths'] > 100)]

            date county       state   fips  cases  deaths
12297 2020-03-25   King  Washington  53033   1360     101
13960 2020-03-26   King  Washington  53033   1579     111
15740 2020-03-27   King  Washington  53033   1830     127

In [8]:
df_counties

            date      county       state   fips  cases  deaths
0     2020-01-21   Snohomish  Washington  53061      1       0
1     2020-01-22   Snohomish  Washington  53061      1       0
2     2020-01-23   Snohomish  Washington  53061      1       0
3     2020-01-24        Cook    Illinois  17031      1       0
4     2020-01-24   Snohomish  Washington  53061      1       0
...          ...         ...         ...    ...    ...     ...
15831 2020-03-27        Park     Wyoming  56029      1       0
15832 2020-03-27    Sheridan     Wyoming  56033      5       0
15833 2020-03-27  Sweetwater     Wyoming  56037      1       0
15834 2020-03-27       Teton     Wyoming  56039     12       0
15835 2020-03-27    Washakie     Wyoming  56043      1       0

[15836 rows x 6 columns]

In [9]:
if __name__ == '__main__':
    print('main()')

main()